<div class="sign-in">
  <div class="login-container">
    <div *ngIf="!isLoggedin">
        <h2 class="text-center mb-5">HPB 시작하기</h2>
        
        <div>
          <div class="login-input">
            <input type="text" [(ngModel)]="loginId">
          </div>
          <div class="login-input">
            <input type="password" [(ngModel)]="loginPw">
          </div>
          <div class="login-button">
            <button (click)="login()">로그인</button>
            <button (click)="signUp()">회원가입</button>
          </div>
          
          <div class="social-container">
            <span class="social-login">소셜 로그인</span>
            <img src="../../assets/image/login/googleLogin.PNG" class="login-logo" (click)="loginWithGoogle()">
            <!-- <img src="../../assets/image/login/facebookLogin.jpg" class="login-logo" (click)="loginWithFacebook()"> -->
            <img src="../../assets/image/login/naverLogin.PNG" class="login-logo" (click)="loginWithNaver()">
            <img src="../../assets/image/login/kakaoLogin.PNG" class="login-logo" (click)="loginWithKakao()">
          </div>
        </div>
  
        <div (click)="sendMail()">
          <button>메일</button>
        </div>

      </div>
    </div>
</div>