<div class="match">
    <div class="match-container">
        <div class="players">
            <div class="forward">
                <div>1</div>
            </div>
            <div class="midfielder">
                <div class="middle-top">
                    <div>1</div>
                    <div>2</div>
                    <div>3</div>
                </div>
                <div class="middle-bottom">
                    <div>4</div>
                    <div>5</div>
                </div>
            </div>
            <div class="defender">
                <div>1</div>
                <div>2</div>
                <div>3</div>
                <div>4</div>
            </div>
            <div class="goalkeeper">
                <div>1</div>
            </div>
        </div>
        <div class="field">
            <img src="../../assets/image/field/field.jpg" alt="">
        </div>
        <div class="menu">
            <div class="position">
                <ul>
                    <li>4-2-3-1</li>
                    <li>4-3-3</li>
                </ul>
            </div>
        </div>
    </div>
</div>