<div class="sign-up">
  <div class="signUp-container">
      <div>
        <h2>회원가입 하기</h2>
      </div>
      <div class="field-container">
          <mat-form-field appearance="">
            <mat-label>아이디</mat-label>
            <input matInput #id maxlength="20" [(ngModel)]="userId">
            <mat-hint>아이디에는 특수문자를 사용할 수 없습니다.</mat-hint>
            <mat-error></mat-error>
          </mat-form-field>
          <button (click)="userIdDoubleCheck()">중복 확인</button>
      </div>
      <div class="field-container">
          <mat-form-field appearance="">
            <mat-label>이름</mat-label>
            <input matInput #id maxlength="20" [(ngModel)]="userName">
            <mat-error>이름에는 숫자 또는 특수문자를 사용할 수 없습니다.</mat-error>
          </mat-form-field>
      </div>
      <div class="field-container">
          <mat-form-field appearance="">
            <mat-label>비밀번호</mat-label>
            <input matInput #pw maxlength="20" [(ngModel)]="userPw">
            <mat-hint>비밀번호는 8~20자 내로 숫자와 특수문자를 포함해야 합니다.</mat-hint>
            <mat-error></mat-error>
          </mat-form-field>
      </div>
      <div class="field-container">
          <mat-form-field appearance="">
            <mat-label>비밀번호 확인</mat-label>
            <input matInput #pwCheck maxlength="20" [(ngModel)]="userPwCheck">
            <mat-hint>비밀번호를 한 번 더 입력 해 주세요.</mat-hint>
            <mat-error *ngIf="userPw != userPwCheck">비밀번호를 확인 해 주세요.</mat-error>
          </mat-form-field>
      </div>
      <!-- <div class="field-container">
          <mat-form-field appearance="">
            <mat-label>이메일</mat-label>
            <input matInput #email maxlength="20" [(ngModel)]="userEmail" type="email">
            <mat-error *ngIf="email.errors">이메일 형식이 아닙니다.</mat-error>
          </mat-form-field>
      </div> -->
      <div class="save">
        <!-- <button (click)="signUp()">메일인증</button> -->
        <button (click)="signUp()" *ngIf="userIdAuthentication && userPw === userPwCheck">회원가입</button>
      </div>
  </div>
</div>
