.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5vh;
    background-color: whitesmoke;
    .menu {
        display: flex;
        align-items: center;
        margin-left: 5px;
    }
    .user {
        display: flex;
        align-items: center;
        margin-right: 5px;
    }
}
