<div class="dashboard">
    <div class="profile-container">
        <div class="title">
            <span>내 기록</span>
        </div>
        <div class="profile">
            <div class="my-profile">
                <div class="image">
                    <img src="../../assets/image/profile/yoon.jpg" alt="">
                </div>
                <span>내 이름</span>
            </div>
            <div class="my-stat">
                스탯
            </div>
        </div>
    </div>
    
    <div>
        <span (click)="goMatch()">매치시작</span>
    </div>

    <!-- <div class="button-groups">
        <button (click)="theme=undefined" nz-button nzType="default">default</button>
        <button (click)="theme='dark'" nz-button nzType="default">dark</button>
        <button (click)="theme='macarons'" nz-button nzType="default">macarons(theme file)</button>
        <button (click)="theme=coolTheme" nz-button nzType="default">cool(theme object)</button>
    </div> -->
    <div echarts [options]="options" [theme]="'dark'" class="echart"></div>

    <div class="menu">
        <div></div>
        <div></div>
    </div>
</div>